.App {
  text-align: center;
  background-color: rgb(240, 240, 240);
  background-image: url('./images/bg.jpeg');
  background-attachment: fixed;
}

.homeWrapper{
  width: 100%;
  min-height: 99vh;
}

.home{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgb(209, 209, 209);
  border: 1px solid black;
}

.intro,.links {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 35px;
  border: 1px solid black;
  color: whitesmoke;
  background-color: rgb(52, 52, 52);
}

.introText{

  margin-top: 10px;
  margin-bottom: 10px;
}

.picBox{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.picCell{
  width: 95%;
  border-bottom: 3px solid rgb(23, 15, 110);
  background-color: whitesmoke;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  padding-bottom: 20px;
}

.picCell:hover{
  background-color: rgb(176, 180, 199);
}

.picInfo {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.picTitle{
  padding-left: 15px;
  padding-top: 10px;
  font-size: 38px;
  font-weight: bold;
  display: flex;
  justify-content: left;
}

.picBy {
  padding-left: 15px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: left;
}

.picWhen {
  padding-left: 15px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  justify-content: left;
}

.picDiv {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  
}

.pic {
  max-width: 300px;
  max-height: 300px;
}

.navWrapper {
  width: 100%;
  border-bottom: 1px solid rgb(116, 116, 116);
  color: whitesmoke;
  background-color: rgb(52, 52, 52);
}

.nav {
margin-bottom: 25px;
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.title2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}

.link {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  color: whitesmoke;
}

.link:hover {
  color: darkgoldenrod;
}

.viewWrapper {
  width: 100%;
  min-height: 99vh;
}

.view {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgb(209, 209, 209);
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-bottom: 20px;
}

.viewCell{
  width: 90%;
  margin-bottom: 50px;
  border: 1px solid black;
  padding: 15px;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.viewTitle{
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 55px;
  margin-top: 30px;
  margin-left: 40px;
  text-align: left;
}

.viewDesc {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 30px;
  margin-left: 40px;
}

.description {
  width: 75%;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pageMove{
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: bold;
  background-color: rgb(52, 52, 52);
  color: whitesmoke;
}

.bottom {
  width: 100%;
  background-color: rgb(52, 52, 52);
  border-top: 1px solid black;
}

.lastPage {
  cursor: pointer;
}

.nextPage {
  cursor: pointer;
}

.lastPage:hover,.nextPage:hover {
  color: darkgoldenrod;
}